
h1, h3 {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}
p {
    margin: 50px 0px 10px 0px;
    text-align: center;
}
table {
    width: 700px;
    margin-right: auto;
    margin-left: auto;
    text-align: right;
    border: solid black 2px;
}

input {
    margin: 10px;
    width: 400px;
}

.btn {
    width: 500px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.readonly {
    background-color: grey;
    color: white;
}
td {
   text-align: left;
}

.tiny {
    width: 100px;
}
